body{ 
    background-color: rgb(72, 133, 184);
}
.titulo1{ 
    border-radius: 10px;
    border: 10px;
    background-color: white;
    display: inline;
   
}
#menu{
    padding: 0px;
    top: 5px;
}
#carouselExampleControls{ padding: 10px;
    margin: 10px;
    background-color: gray;
    width: 1000px;
    left: 159px ;
}
#card{ 
    display: inline-block;
   min-height: 400px;
  width: 200px;
   border: 20px;
   background-color: aliceblue;
   margin: 100px;
   justify-content: space-between;
 }
 .card-img-top{
  min-height: 250px;
    
   
 }
.form-floating{
    width: 1000px;

}
